body{
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
}

.container{
  width:80%;
  margin:auto;
  overflow:hidden;
}

ul{
  margin:0;
  padding:0;
}

.botao{
  height:38px;
  background:#1196f7;
  border:0;
  padding-left: 20px;
  padding-right:20px;
  color:#ffffff;
}

header{
  background:#35424a;
  color:#ffffff;
  padding-top:30px;
  min-height:70px;
}

header a{
  color:#ffffff;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
}

header li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float:left;
}

header #branding h1{
  margin:0;
}

header nav{
  float:right;
  margin-top:10px;
}

header .highlight, header .current a{
  color:#1196f7;
  font-weight:bold;
}

header a:hover{
  color:#cccccc;
  font-weight:bold;
}
#showcase{
  min-height:400px;
  background:url('../img/showcase.jpg') no-repeat 0 -400px;
  text-align:center;
  color:#ffffff;
}

#showcase h1{
  margin-top:100px;
  font-size:55px;
  margin-bottom:10px;
}

#showcase p{
  font-size:20px;
}

#contato{
  padding:15px;
  color:#ffffff;
  background:#35424a
}

#contato h1{
  float:left;
}

#contato form {
  float:right;
  margin-top:15px;
}

#contato input[type="email"]{
  padding:4px;
  height:25px;
  width:250px;
}

#inscricoes input[type="text"]{
  padding: 4px;
  height: 25px;
  width: 400px;
}
#inscricoes form{
  margin: 106px 0 107px 350px;
}
#boxes{
  margin-top:20px;
}
#boxes .box{
  float:left;
  text-align: center;
  width:30%;
  padding:10px;
}

#boxes .box img{
  width:90px;
}

footer{
  padding:20px;
  margin-top:20px;
  color:#ffffff;
  background-color:#35424a;
  text-align: center;
}
